<h1>New Enrollment</h1>

<form action="/create_course_student">
 <div>
    <label for="course_id">Course ID</label><br />
    <select name="course_id">
      <% @courses.each do |course| %>
      <option value="<%= course.id %>"><%= course.name %></option>
      <% end %>
    </select>

  </div>
  <div>
    <div>
    <label for="student_id">Student ID</label><br />
    <select name="student_id">
      <% @students.each do |student| %>
      <option value="<%= student.id %>"><%= student.name %></option>
      <% end %>
    </select>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

